flask
Flask-Migrate
Flask-Script
Flask-WTF
Jinja2
Mako
MarkupSafe
WTForms
Werkzeug
argparse
click
gunicorn
itsdangerous
python-dateutil
python-editor
six
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.6
alembic==0.9.9
psycopg2==2.7.4

