body {
    padding-top: 5rem;
}
.pro_pic{
    width:90px;
    height:90px;
    border-radius: 40%;
}

.blk{
    display: block;
}

.pro-data{
    max-width: 30%;
}

.view-btn{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    color: white;
}

.profile{
    margin-left: 30px;
    width: 200px;
    margin:;
    background-color: white;
    padding: 0px;
    margin-bottom: 1%;
    box-shadow: 0px 2px 8px grey;
}
.viewPictures-container{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-row: repeat(3, 250px);
        grit-auto-rows: 250px;
        grid-gap: 20px;
}

.display-grid-pic{
    width: 200px;
	height: 150px;
	border: 1px solid #999999;
}

.profiles-container{
    width: 90%;
}

.view-profile a{
    text-align: center;
    display: block;
    margin: 0 auto;
	
}

.forms-con{
    margin: 0 auto;
    padding: 5px;
    width: 60%;
    background-color:;
	
}

.border{
    border-radius: 3px;
    border-top: 3px white solid;
	background-color: white;
	 padding-left: 40px;
}
.title{
    margin: 0 auto;
    width: 60%;
    margin-bottom: 1%;
    
}

.s-ctn{
    width: 25rem;
}

.column {
	display: table-cell;
  float: left;
 
}
.Row {
     display: flex;
  flex-direction:row;

}

.pro_img{
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5px
}

.card{
    width: 25rem;
}

.center{
    margin: 0 auto;
}

.btn{
    width:47%;
}

.inline{
    display: inline;

}

.btn-container{
    text-align: center;
	 background-color:blue;
	 color:white;
}

.top-info{
    padding: 30px;
}






.block{
    display: block;
}

.contain{
    margin-top: 10px;
    margin-bottom: 15px;
}

.field{
    border-radius: 5px;
}
