{% extends "base.html" %}

{% block main%}
{% include "flash_messages.html"%}

<div class="prop-container ">
    <h1 class="title2">Properties</h1>
	<div class="paddding">
	<div class="grid-container">
	
    {% for property in properties %}
    <div class="prop ">
        <image src="{{ url_for('get_image', filename=property['photo']) }}" class="display-grid-pic">
        <div class="text-paddding">
		<div class="margin">
            <span class="headr ">{{ property['title'] }}</span>
			</div>
			<div class="Row">
			<image src="{{ url_for('static', filename='icon/placeholder.png')}}" class="icon-size faide">
            <span class="faide">{{ property['location'] }}</span> 
			</div>
			<div class="margin-top">
            <span class="btn-style">{{ property['price'] }}</span>
			</div>
        </div>
		<div class="view-btn margin-top2" >
            <a class="" href="{{ url_for('inidi_property', propertyid=property['id']) }}">View Property</a>
        </div>
 </div>
    {% endfor %}
	</div>
		</div>
</div>
{% endblock%}